@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Montserrat:wght@300&family=Mouse+Memoirs&family=Space+Mono&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

li {
     list-style-type: none;
}

a {
     text-decoration: none;
}

img {
     width: 100%;
}

::-webkit-scrollbar {
     display: none;
}

body {
     font-family: 'Montserrat', sans-serif;
     background-image: url("images/emoji-bg-1.jpg");
     background-position: center;
     background-repeat: repeat;

     div.App {
          display: grid;
          align-items: center;
          height: 100vh;

          header {
               display: flex;
               align-items: center;
               justify-content: space-between;
               width: 90%;
               height: 10vh;
               margin: 0 auto;
               // background-color: #b300b3;
               background: rgb(179, 0, 179);
               background: linear-gradient(90deg, rgba(179, 0, 179, 0.9482776402640264) 0%, rgba(40, 40, 40, 0.9251753300330033) 0%);
               border-radius: 30px;
               -webkit-box-shadow: 0px 0px 10px -1px rgba(102, 102, 102, 1);
               -moz-box-shadow: 0px 0px 10px -1px rgba(102, 102, 102, 1);
               box-shadow: 0px 0px 10px -1px rgba(102, 102, 102, 1);
               
               div.logo-area {
                    width: 250px;
               }

               ul.nav-btns {
                    display: flex;
                    margin-right: 15px;

                    li {
                         border: none;
                         padding: 5px 10px;
                         border-radius: 30px;
                         display: flex;
                         align-items: center;
                         justify-content: center;
                         letter-spacing: 1px;

                         &:hover {
                              border: 3px solid #ffffff;
                              transition: border .2s ease-in;
                         }

                         span {
                              font-size: 1.5rem;
                         }

                         a {
                              color: #fff;
                              font-size: 1.2rem;
                         }
                    }

                    li.signup-btn {
                         margin-left: 10px;
                    }
               }
          }

          form.login-form,
          form.signup-form {
               justify-self: center;
               margin-bottom: 30px;
               width: 27%;
               padding: 10px 20px 30px;
               border-radius: 8px;
               background-color: #ffffffb2;
               -webkit-box-shadow: 0px 0px 10px -1px rgba(102, 102, 102, 1);
               -moz-box-shadow: 0px 0px 10px -1px rgba(102, 102, 102, 1);
               box-shadow: 0px 0px 10px -1px rgba(102, 102, 102, 1);

               div.login-field,
               div.signup-field {
                    height: 40px;
                    margin-bottom: 25px;
                    border-radius: 5px;
                    -webkit-box-shadow: 0px 0px 10px -1px rgba(102, 102, 102, 1);
                    -moz-box-shadow: 0px 0px 10px -1px rgba(102, 102, 102, 1);
                    box-shadow: 0px 0px 10px -1px rgba(102, 102, 102, 1);

                    input {
                         border: none;
                         width: 100%;
                         height: 100%;
                         padding-left: 20px;
                         font-size: 1rem;
                         letter-spacing: 1px;
                         border-radius: 29px;
                         outline: none;
                    }
               }

               button.login-btn,
               button.signup-btn {
                    outline: none;
                    border: none;
                    width: 100%;
                    height: 40px;
                    font-size: 1.2rem;
                    color: #fff;
                    border-radius: 5px;
                    -webkit-box-shadow: 0px 0px 10px -1px rgba(102, 102, 102, 1);
                    -moz-box-shadow: 0px 0px 10px -1px rgba(102, 102, 102, 1);
                    box-shadow: 0px 0px 10px -1px rgba(102, 102, 102, 1);
                    background-color: #8b018b;
                    letter-spacing: 2px;
               }

               p.already-user,
               p.not-user-yet {
                    text-align: center;
                    margin-top: 15px;
                    font-size: .9rem;
               }

               div.form-footer {
                    text-align: center;
                    position: relative;
                    top: 15px;
                    font-weight: 800;
                    font-size: .9rem;
                    
                    a {
                         color: #333;
                    }
               }
          }

          div.wrapper {
               display: flex;
               height: 85vh;
               border-radius: 50px;
               background-color: #fff;
               width: 90%;
               max-width: 1100px;
               margin: 0 auto;
               -webkit-box-shadow: 0px 0px 10px -1px rgba(102, 102, 102, 1);
               -moz-box-shadow: 0px 0px 10px -1px rgba(102, 102, 102, 1);
               box-shadow: 0px 0px 10px -1px rgba(102, 102, 102, 1);
     
               div.sidebar-nav {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: sticky;
                    top: 0;
                    width: 25%;
                    // background-color: #b300b3;
                    background: rgb(179, 0, 179);
                    background: linear-gradient(90deg, rgba(179, 0, 179, 0.9482776402640264) 0%, rgba(40, 40, 40, 0.9251753300330033) 0%);
                    border-top-left-radius: 50px;
                    border-bottom-left-radius: 50px;
                    padding: 10px 0;
                    -webkit-box-shadow: 3px 0px 8px 1px rgba(212, 212, 212, 1);
                    -moz-box-shadow: 3px 0px 8px 1px rgba(212, 212, 212, 1);
                    box-shadow: 3px 0px 8px 1px rgba(212, 212, 212, 1);

                    h2 {
                         color: #fff;
                         margin: 35px 0;
                    }
     
                    ul {
                         padding: 0 30px;
                         display: flex;
                         flex-direction: column;
                         justify-content: center;

                         li {
                              display: flex;
                              align-items: center;
                              overflow-x: scroll;
                              margin-bottom: 5px;
                              color: #fff;
                              font-size: 1rem;
                              letter-spacing: 1px;
                              cursor: pointer;
                              padding: 5px 0 5px 10px;
                              border-radius: 20px;

                              div.acc-emoji {
                                   font-size: 1.3rem;
                              }

                              div.category {
                                   margin-left: 10px;
                              }

                              &:hover {
                                   background-color: #720172;
                                   transition: background-color .5s linear;
                              }

                         }

                    }

                    div.side-footer {
                         text-align: center;
                         color: #fff;
                         position: absolute;
                         bottom: 25px;
                         left: 40px;
                    }
               }
     
               div.form-and-list-cont {
                    width: 75%;
                    display: flex;
                    flex-direction: column;
                    overflow-y: scroll;
                    border-top-right-radius: 50px;
                    border-bottom-right-radius: 50px;

                    div.form {
                         align-self: center;
                         position: sticky;
                         top: 15px;
                         height: 45px;
                         width: 75%;
                         margin-bottom: 25px;

                         div.search-cont {
                              height: 40px;
                              width: 100%;
                              display: flex;
                              border-radius: 50px;
                              -webkit-box-shadow: 0px 0px 9px 1px rgba(237, 237, 237, 1);
                              -moz-box-shadow: 0px 0px 9px 1px rgba(237, 237, 237, 1);
                              box-shadow: 0px 0px 9px 1px rgba(237, 237, 237, 1);

                              &:focus {
                                   outline-color: red;
                              }

                              input {
                                   display: block;
                                   height: 100%;
                                   width: 85%;
                                   border: none;
                                   border-top-left-radius: 50px;
                                   border-bottom-left-radius: 50px;
                                   outline: none;
                                   padding-left: 20px;
                                   font-size: 1rem;
                                   font-family: 'Montserrat',
                                   sans-serif;

                                   &::-webkit-input-placeholder {
                                        color: #949494;
                                        letter-spacing: 1px;
                                   }
                              }

                              button {
                                   display: block;
                                   height: 100%;
                                   width: 15%;
                                   background-color: #fff;
                                   border: none;
                                   border-top-right-radius: 50px;
                                   border-bottom-right-radius: 50px;
                                   outline: none;
                                   cursor: pointer;

                                   &:hover {
                                        font-size: 2rem;
                                        transition: font-size .2s linear;
                                   }
                              }
                         }
                    }

                    div.results {
                         width: 95%;
                         margin: 10px auto 20px auto;
                         text-align: center;
                         font-size: 1.5rem;
                    }

                    div.load-wrapper {
                         display: flex;
                         align-items: center;
                         justify-content: center;
                         height: 60vh;

                         div.load-heading {
                              font-size: 1rem;
                         }
                         
                         div.loading-indicator {
                              font-size: 10rem;
                              --animate-repeat: 1000;
                         }
                    }

                    ul {
                         display: grid;
                         grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
                         grid-auto-rows: 50px;
                         justify-items: center;
                         row-gap: 15px;
                         column-gap: 15px;
                         padding: 20px;
                         height: 70vh;
                         overflow-y: scroll;
                         position: relative;
                         bottom: 10px;

                         li {
                              font-size: 3rem;
                              cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>👆🏽</text></svg>") 16 0,
                              auto;
                         }

                    }
               }
          }
     }
}